.tite{
    align-items: baseline;
}
.unit{
    float: right;
    margin-top: 0px;
}
.unit1{
    display: inline-flex;
    list-style: none;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;

}
.grid-item{
    background-color: white;
    text-align: center;
    border: 1px solid rgb(180, 125, 125);
    padding: 10px;
}
.item1{
    text-align: center;
}
.flex-container{
    display: flex;
    justify-items: center;
    background-color: rgba(221, 138, 138, 0.658);
    flex-direction: row;
    padding: 10px;
    height: 200px;
}
.flex-item{
    background-color: brown;
    min-height: 10px;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 150px;
    grid-gap: 50px 100px;
}
.merge{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 20px;
}
.grid-container3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px;
    background-color: black;
    color: white;
}
.grid-item3{
    padding: 20px;
    margin: 10px;
}
