.tite{
    align-items: baseline;
}
.unit{
    float: right;
    margin-top: 0px;
}
.unit1{
    display: inline-flex;
    list-style: none;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

}
.grid-item{
    background-color: white;
    text-align: center;
    border: 1px solid rgb(180, 125, 125);
    padding: 10px;
}
.item1{
    text-align: center;
}
.flex-container{
    display: flex;
    justify-items: center;
    background-color: blue;
    flex-direction: row;
    padding: 10px;
    width: 80%;
    height: 100pxs;
}

